<div class="row">
    <div><a class="btn" routerLink=""><svg class="Hn_ gUZ pBj" height="20" width="20" viewBox="0 0 24 24" aria-label="Nút quay lại" role="img"><path d="M8.415 4.586a2 2 0 1 1 2.828 2.828L8.657 10H21a2 2 0 0 1 0 4H8.657l2.586 2.586a2 2 0 1 1-2.828 2.828L1 12l7.415-7.414z"></path></svg></a></div>
    <div class="container">
        <div class="card shadow-lg">
            <div class="row">
                <div class="col-6 text-center" style="outline-style: none; ">
                    <div class="card mt-4 mb-4 ml-4 mr-4" style="justify-content: center; align-items: center; display: flex;">
                        <img style="height: 100%; width: 100%;" [src]="createImgPath(post.imagePath)" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="row mt-3">
                        <div class="col-1 mr-4">
                            <div class="dropdown no-arrow ml-4" dropdown>
                                <button class="dropdown-toggle card-link btn btn-ouline-light rounded-circle" role="button"
                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    dropdownToggle>
                                    <svg class="gUZ pBj" height="20" width="20" viewBox="0 0 24 24"
                                        aria-label="Thêm tùy chọn" role="img">
                                        <path
                                            d="M12 9c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3M3 9c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm18 0c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3z">
                                        </path>
                                    </svg>
                                </button>
                                <div id="myDropdown" class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink" *dropdownMenu>
                                    <a class="dropdown-item" href="http://localhost:4200/user/detail-post/{{post.id}}/{{post.ownerId}}" download="{{post.postTitle}}">Tải xuống</a>
                                    <a class="dropdown-item" href="#">Báo cáo bài viết</a>
                                    <!-- <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Nhận mã nhúng ghim</a> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-1 mt-2 ml-1"><svg class="gUZ pBj" height="20" width="20" viewBox="0 0 24 24"
                                aria-label="Gửi" role="img">
                                <path
                                    d="M21 14c1.1 0 2 .9 2 2v6c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2v-6c0-1.1.9-2 2-2s2 .9 2 2v4h14v-4c0-1.1.9-2 2-2zM8.82 8.84c-.78.78-2.05.79-2.83 0-.78-.78-.79-2.04-.01-2.82L11.99 0l6.02 6.01c.78.78.79 2.05.01 2.83-.78.78-2.05.79-2.83 0l-1.2-1.19v6.18a2 2 0 1 1-4 0V7.66L8.82 8.84z">
                                </path>
                            </svg>
                        </div> -->
                        <!-- <div class="offset-7 col-1"><a *ngIf="post.ownerId==account.id" routerLink="edit/{{post.id}}" href="" class="btn btn-danger rounded-pill">Chỉnh sửa</a></div> -->
                        <div class="offset-6 col-3 btn-group" *ngIf="post.ownerId==maccount.id" style="justify-content: center; align-items: center; display: flex;">
                            <button routerLink="../../../edit/{{post.id}}" routerLinkActive="router-link-active"  data-toggle="tooltip" data-placement="left" title="Chỉnh sửa thông tin" class="btn btn-outline-white rounded-circle text-center ml-4" style="height: 48px; width: 48px;" type="button">
                                <svg class="gUZ pBj U9O kVc" height="18" width="18" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
                                    <path d="M13.386 6.018l4.596 4.596L7.097 21.499 1 22.999l1.501-6.096L13.386 6.018zm8.662-4.066a3.248 3.248 0 0 1 0 4.596L19.75 8.848 15.154 4.25l2.298-2.299a3.248 3.248 0 0 1 4.596 0z"></path>
                                </svg>
                            </button>
                            <button (click)="deletePost(post.id)" class="btn btn-danger rounded-pill ml-2" style="height: 80%;">Xoá</button>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="offset-1 col-3 p-0"><a href="" class="dark-link">facebook.com</a></div>
                    </div> -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="offset-1 col-10 p-0">
                            <h3 class="mb-1"><strong>{{post.postTitle}}</strong></h3>
                        </div>
                    </div>
                    <a *ngIf="mreaction.isCreated == 0" class="btn btn-sm ml-4 mt-3" (click)="onCreateReaction()" ><span style="font-size:medium;">{{post.reactionCount}}  <i class="fa fa-heart heart" style=" color: rgb(219, 219, 219);"></i></span></a>
                    <a *ngIf="mreaction.isCreated != 0" class="btn btn-sm ml-4 mt-3" (click)="unReaction()"><span style="font-size:medium;">{{post.reactionCount}}  <i class="fa fa-heart unheart" style=" color: rgba(212, 10, 10, 0.76);"></i></span></a>
                    <div class="row mt-3">
                        <div class="offset-1 p-0 mt-1">
                            <img *ngIf="account.avatarPath==null" class="img-fluid rounded-circle" style="height: 45px; width: 46px;" src="../../assets/images/default-profile.png">
                            <img *ngIf="account.avatarPath!=null" class="img-fluid rounded-circle" style="height: 45px; width: 46px;" [src]="createImgPath(account.avatarPath)">
                            <!-- <img src="../../assets/images/fc1cbe7b52ebf837e53383b9d24e1bf2.jpg"
                                class="img-fluid w-25 rounded-circle" alt=""> -->
                            
                        </div>
                        <div class="col-7 p-0 mt-1">
                            <span class="ml-3">
                                <a *ngIf="editCmt" href="" class="btn" routerLink="../../../../detail/{{account.id}}">{{account.name}} </a>
                                <a *ngIf="!editCmt" href="" class="btn" routerLink="../../../detail/{{account.id}}">{{account.name}} </a>
                                <svg class="gUZ lZJ U9O kVc text-danger" height="12" width="12" viewBox="0 0 24 24" aria-label="Biểu tượng xác minh miền" role="img">
                                <path
                                    d="M12 0a12 12 0 100 24 12 12 0 000-24zM6.37 11.61a1.25 1.25 0 011.76 0l2.37 2.36 5.37-5.35a1.25 1.25 0 011.76 1.76L10.5 17.5l-4.13-4.13a1.25 1.25 0 010-1.76z">
                                </path>
                            </svg>
                            </span>
                            <p style="font-size: small; margin-left: 8%;">{{post.followerCount}} người theo dõi</p>
                        </div>
                        <div *ngIf="maccount.id!=post.ownerId" class="col-2 p-0 mt-2">
                            <button *ngIf="mfollow.isCreated==0" (click)="onCreateFollow()" class="btn btn-light rounded-pill">Theo dõi</button>
                            <button *ngIf="mfollow.isCreated!=0" (click)="unFollow()" class="btn btn-danger rounded-pill">Đã theo dõi</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="offset-1 mb-3">
                        <mat-tab-group>
                            <mat-tab label="{{post.commentCount}} Nhận xét">
                                <p>Chia sẻ phản hồi, đặt câu hỏi hoặc để lại cảm nghĩ</p>
                                <div id="1" *ngFor="let comment of comments" class="mb-4">
                                    <div class="form-inline" id="1">
                                        <div class="col-2">
                                            <img
                                                *ngIf="comment.ownerAvatar==null"
                                                src="../../assets/images/default-profile.png"
                                                style="height: 40px; width: 41px;" class="img-fluid card rounded-circle" alt="">
                                            <img
                                                *ngIf="comment.ownerAvatar!=null"
                                                [src]="createImgPath(comment.ownerAvatar)"
                                                style="height: 40px; width: 41px;" class="img-fluid card rounded-circle" alt="">
                                        </div>
                                        <div class="col-10">
                                            <div *ngIf="!editCmt || comment.id!=editCmtId" class="card" style="width: 90%;">
                                                <div class="ml-3 mt-2 mr-3">
                                                    <div class="row mr-3">
                                                        <div class="col-sm-9">
                                                            <span><a *ngIf="editCmt" href="" class="btn" routerLink="../../../../detail/{{comment.ownerId}}"><strong>{{comment.ownerName}}</strong></a></span>
                                                            <span><a *ngIf="!editCmt" href="" class="btn" routerLink="../../../detail/{{comment.ownerId}}"><strong>{{comment.ownerName}}</strong></a></span>
                                                        </div>
                                                        <div *ngIf="maccount.id==comment.ownerId && !editCmt" class="col-sm-2">
                                                            <div class="dropdown no-arrow ml-4" dropdown>
                                                                <button class="dropdown-toggle card-link btn btn-ouline-light rounded-circle" role="button"
                                                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                                    dropdownToggle>
                                                                    <svg class="gUZ pBj" height="20" width="20" viewBox="0 0 24 24"
                                                                        aria-label="Thêm tùy chọn" role="img">
                                                                        <path
                                                                            d="M12 9c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3M3 9c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm18 0c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3z">
                                                                        </path>
                                                                    </svg>
                                                                </button>
                                                                <div id="myDropdown" class="dropdown-menu dropdown-menu-left shadow animated--fade-in"
                                                                    aria-labelledby="dropdownMenuLink" *dropdownMenu>
                                                                    <a class="dropdown-item" routerLink="../../../detail-post/{{post.id}}/{{post.ownerId}}/{{comment.id}}" (click)="editComment()">Chỉnh sửa</a>
                                                                    <a class="dropdown-item" (click)="deleteComment()">Xoá</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p style="font-size: 15px; margin-left: 4%;">{{comment.content}}</p>
                                                </div>                                             
                                            </div>
                                            <div *ngIf="editCmt && comment.id==editCmtId">
                                                <form [formGroup]="cmtForm" (ngSubmit)="submitEdit()">
                                                    <div class="form-inline">
                                                        <div class="form-group" style="width: 90%;"> 
                                                            <input type="text" class="form-control rounded-pill col-12" formControlName="content" value="{{commentEdit.content}}">
                                                        </div>
                                                    </div>
                                                    <div class="btn-group mt-1" style="float: right; margin-right: 15%;">
                                                        <input type="button" (click)="closeEdit()" class="btn btn-light rounded-pill mr-2" value="Hủy">
                                                        <input type="submit" class="btn btn-danger rounded-pill" value="Đã xong">
                                                    </div>
                                                </form>   
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                
                                <form [formGroup]="myForm" (ngSubmit)="submit()">
                                    <div class="form-inline">
                                        <div class="col-2">
                                        <img
                                            *ngIf="maccount.avatarPath==null"
                                            src="../../assets/images/default-profile.png"
                                            style="height: 40px; width: 40px;" class="img-fluid card rounded-circle" alt="">
                                        <img
                                            *ngIf="maccount.avatarPath!=null"
                                            [src]="createImgPath(maccount.avatarPath)"
                                            style="height: 40px; width: 40px;" class="img-fluid card rounded-circle" alt="">
                                        </div>
                                        <div class="col-10 form-group"> <input style="width: 90%;" type="text" class="form-control rounded-pill"
                                            formControlName="contentCreate" id="contentCreate" placeholder="Viết nhận xét"></div>
                                    </div>
                                    <div class="btn-group mt-1" style="float: right; margin-right: 15%;">
                                        <input type="button" (click)="clearForm()" class="btn btn-light rounded-pill mr-2" value="Hủy">
                                        <input type="submit" class="btn btn-danger rounded-pill" value="Đã xong">
                                    </div>
                                </form>                              
                            </mat-tab>
                            <mat-tab label="Ảnh"></mat-tab>
                        </mat-tab-group>
                    </div>
                    
                    <!-- <div class="row d-flex justify-content-center">
                        
                        <div class="offset-1">

                            <mat-tab-group>
                                <mat-tab label="Ảnh"></mat-tab>
                                <mat-tab label="Nhận xét">
                                    <p>Chia sẻ phản hồi, đặt câu hỏi hoặc để lại cảm nghĩ</p>
                                    <div class="form-inline">
                                        <div class="col-sm-3"><img
                                                src="../../assets/images/fc1cbe7b52ebf837e53383b9d24e1bf2.jpg"
                                                style="width: 50px;" class="img-fluid rounded-circle" alt=""></div>
                                        <div class="col-auto"> <input type="text" class="form-control rounded-pill"
                                                placeholder="Viết nhận xét"></div>
                                    </div>
                                    <div class="btn-group mt-1">
                                        <input type="button" class="btn btn-light rounded-pill mr-2" value="Hủy">
                                        <input type="submit" class="btn btn-danger rounded-pill" value="Đã xong">
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
