<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6d7a8985-0114-4be1-8e67-bdb55da5a5da/resourceGroups/cloud-shell-storage-southeastasia/providers/Microsoft.Web/sites/hieplh10</ResourceId>
    <ResourceGroup>cloud-shell-storage-southeastasia</ResourceGroup>
    <ApiResourceId>/subscriptions/6d7a8985-0114-4be1-8e67-bdb55da5a5da/resourceGroups/cloud-shell-storage-southeastasia/providers/Microsoft.ApiManagement/service/hieplh10/apis/WebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hieplh10.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>653cad1d-6f61-4cce-8448-1e51086befdd</ProjectGuid>
    <MSDeployServiceURL>hieplh10.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hieplh10</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hieplh10</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>