<ion-list *ngFor="let comment of comments">
  <ion-row slot="start">
    <ion-col size="2">
      <ion-avatar *ngIf="comment.ownerAvatar!==null" class="avatar"><img [src]="comment.ownerAvatar"></ion-avatar>
      <ion-avatar *ngIf="comment.ownerAvatar===null" class="avatar"><img src="../../assets/images/default-profile.png"></ion-avatar>
    </ion-col>
    <ion-col>
      <div class="comment">
        <ion-title style="padding-inline: 15px; font-size: 16px; font-weight: 700; padding-top: 10px; transform: none !important;">{{comment.ownerName}}<span class="time">{{comment.created | dateAgoExample}}</span></ion-title>
        <ion-text style="padding-inline: 15px; font-size: 16px; padding-bottom: 10px; padding-left: 20px;">{{comment.content}}</ion-text>
      </div>
      <ion-item lines="none">
        <ion-icon *ngIf="comment.isReactedByThisUser===false" (click)="onCreateReactionComment(comment.id)" name="heart-outline" class="icon-comment"></ion-icon>
        <ion-icon *ngIf="comment.isReactedByThisUser===true" (click)="unReactionComment(comment.id)" name="heart" style="color: rgba(255, 0, 0, 0.788);" class="icon-comment"></ion-icon>
        <span *ngIf="comment.reactionCount!==0" style="margin-left: 1px; color:black;">{{comment.reactionCount}}</span>
        <ion-icon *ngIf="comment.ownerId===maccount.id" (click)="openOptinalForCmt(comment.id, comment.content)" class="icon-comment" name="ellipsis-horizontal" style="margin-left: 5px;"></ion-icon>
        <ion-icon *ngIf="comment.ownerId!==maccount.id" (click)="openOptinalForCmtId(comment.id)" class="icon-comment" name="ellipsis-horizontal" style="margin-left: 5px;"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-list>
