<nav class="navbar navbar-expand navbar-light bg-white">
    <div class="navbar-brand"><i class="fa fa-pinterest fa-2x text-danger"></i></div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link bold btn btn-dark text-white nav-btn" href="#">Trang chủ<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold btn nav-btn" href="#">Người bạn đang theo dõi</a>
            </li>
            <li class="ml-3 mr-3 nav-item mt-1">
                <div id="search-box" class="input-group">
                    <div class="input-group-prepend">
                        <span id="search"><i class="fa fa-search" aria-hidden="false"></i></span>
                    </div>
                    <input id="search-form" (keydown.enter)="save($event)" class="form-control" style="width:850px" type="text" placeholder="Tìm kiếm" aria-label="Search">
                </div>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link bold btn nav-btn" (click)="logout()">Đăng xuất</a>
            </li> -->
        </ul>
        <div class="d-flex justify-content-end">
            <div class="navbar-nav" dropdown [insideClick]="true" size="5">
                <div class="nav-item dropdown br-xam "> <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                        dropdownToggle><i class="fa fa-bell mt-1" style="font-size:x-large;"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right shadow-sm rounded-lg" *dropdownMenu>
                        <!-- <li class="text-center"><strong>Thông báo</strong></li>
                        <hr>
                        <li class="dropdown-item align-content-center">Ai đó tiếp tục thích bạn</li> -->
                        <div id="1" *ngFor="let notification of notifications">
                            <li id="1" class="dropdown-item">{{notification.actionOwnerName}} thích bạn</li>
                        </div>                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="nav-item">
            <a routerLink="profile" routerLinkActive="active" class="nav-item">
                <img *ngIf="account.avatarPath==null" class="card rounded-circle" style="height: 30px; width: 30px;" src="../../assets/images/default-profile.png">
                <img *ngIf="account.avatarPath!=null" class="card rounded-circle" style="height: 30px; width: 30px;" [src]="createImgPath(account.avatarPath)">
            </a>
        </div> -->
        <!-- <div class="nav-item"> <a routerLink="/profile" routerLinkActive="active" class="nav-item"><i class="fa fa-user fa-2x"></i></a></div> -->
        <div class="nav-item mr-4">
            <div class="navbar-nav" dropdown [insideClick]="true">
                <div class="nav-item dropdown br-xam "> 
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                        <img *ngIf="account.avatarPath==null" class="card rounded-circle" style="height: 35px; width: 36px;" src="../../assets/images/default-profile.png">
                        <img *ngIf="account.avatarPath!=null" class="card rounded-circle" style="height: 35px; width: 36px;" [src]="createImgPath(account.avatarPath)">        
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                        <li routerLink="profile" class="dropdown-item nav-link btn" style="text-align: left;">Trang cá nhân <!--<i class="fa fa-cogs"></i>--></li>
                        <!-- <li *ngIf="account.role === admin" ></li> -->
                        <li (click)="logout()" class="dropdown-item nav-link">Đăng xuất</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">Home</a> -->
        <!-- <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">Profile</a>
        <a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a>
        <a (click)="logout()" class="nav-item nav-link">Logout</a> -->
    </div>
</nav> 
<div class="p-4 mt-5">
    <div *ngIf="!search" style="margin-left: 30px; margin-right: 30px;">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="search" style="margin-left: 30px; margin-right: 30px;">
        <div *ngIf="!searchAccount" class="item card-columns">
            <div id="1" *ngFor="let post of posts">
              <a routerLink="detail-post/{{post.id}}/{{post.ownerId}}" class="text-dark card-link" id="1">
                <div class="card btn-outline-white">
                  <img class="card-img-top img-fluid" [src]="createImgPath(post.imagePath)" alt="Card image cap">
                  <p class="card-title" style="margin: 5px 5px 5px 5px; font-size:15px; font-family: Noto Serif;">{{post.postTitle}}</p>
                </div> 
              </a>
            </div> 
            <div *ngIf="posts==0">
                <p>Không có kết quả phù hợp.</p>
            </div> 
        </div>
        <div *ngIf="searchAccount">
            <div id="1" *ngFor="let account of accounts">
                <div class="container mt-3" style="width: 60%;">
                    <div class="card shadow-lg mb-3" style="width: 90%;" id="1">
                        <div class="row ml-3 mr-3 mt-3 mb-3" style="justify-content: center; align-items: center; display: flex;">
                            <div class="col-lg-2 text-center">
                                <img
                                    *ngIf="account.avatarPath==null"
                                    src="../../assets/images/default-profile.png"
                                    style="height: 60px; width: 61px;" class="img-fluid rounded-circle" alt="">
                                <img
                                    *ngIf="account.avatarPath!=null"
                                    [src]="createImgPath(account.avatarPath)"
                                    style="height: 60px; width: 61px;" class="img-fluid rounded-circle" alt="">
                            </div>
                            <div class="col-lg-7">
                                <a href="" class="btn" routerLink="detail/{{account.id}}"><strong>{{account.name}}</strong></a>
                                <p style="font-size: small; margin-left: 4%;">0 người theo dõi</p>
                            </div> 
                            <div class="col-lg-3">
                                <a href="" class="btn btn-light rounded-pill">Theo dõi</a>
                            </div>
                        </div>              
                    </div>
                </div>               
            </div> 
            <div *ngIf="accounts==0">
                <p>Không có kết quả phù hợp.</p>
            </div>         
        </div>
    </div>
</div>