<nav class="navbar navbar-expand navbar-light bg-white">
    <div class="navbar-brand"><i class="fa fa-pinterest fa-2x text-danger"></i></div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link bold btn btn-dark text-white nav-btn" href="#">Trang chủ<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold btn nav-btn" href="#">Người bạn đang theo dõi</a>
            </li>
            <li class="ml-3 mr-3 nav-item mt-1">
                <div id="search-box" class="input-group">
                    <div class="input-group-prepend">
                        <span id="search"><i class="fa fa-search" aria-hidden="false"></i></span>
                    </div>
                    <input id="search-form" (keyup.enter)="save($event)" class="form-control" style="width:800px" type="text" placeholder="Tìm kiếm" aria-label="Search">
                </div>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link bold btn nav-btn" (click)="logout()">Đăng xuất</a>
            </li> -->
        </ul>
        <div class="d-flex justify-content-end">
            <div class="navbar-nav" dropdown [insideClick]="true">
                <div class="nav-item dropdown br-xam "> <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                        dropdownToggle><i class="fa fa-bell fa-2x"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right shadow-sm rounded-lg" *dropdownMenu>
                        <!-- <li class="text-center"><strong>Thông báo</strong></li>
                        <hr>
                        <li class="dropdown-item align-content-center">Ai đó tiếp tục thích bạn</li> -->
                        <div id="1" *ngFor="let notification of notifications">
                            <li id="1" class="dropdown-item">{{notification.actionOwnerId}} thích bạn</li>
                        </div>                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a routerLink="profile" routerLinkActive="active" class="nav-item">
                <img *ngIf="account.avatarPath==null" class="rounded-circle" style="height: 30px; width: 30px;" src="../../assets/images/taking photos for next issue vol_019 -1- _ JOURNAL _ 25 January 2018.jpg">
                <img *ngIf="account.avatarPath!=null" class="rounded-circle" style="height: 30px; width: 30px;" [src]="createImgPath(account.avatarPath)">
            </a>
        </div>
        <!-- <div class="nav-item"> <a routerLink="/profile" routerLinkActive="active" class="nav-item"><i class="fa fa-user fa-2x"></i></a></div> -->
        <div class="nav-item mr-4">
            <div class="navbar-nav" dropdown [insideClick]="true">
                <div class="nav-item dropdown br-xam "> <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                    dropdownToggle><i class="fa fa-angle-down img-thumbnail rounded-circle"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                        <li routerLink="/account-setting" class="dropdown-item nav-link">Cài đặt <!--<i class="fa fa-cogs"></i>--></li>
                        <!-- <li *ngIf="account.role === admin" ></li> -->
                        <li (click)="logout()" class="dropdown-item nav-link">Đăng xuất</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">Home</a> -->
        <!-- <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">Profile</a>
        <a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a>
        <a (click)="logout()" class="nav-item nav-link">Logout</a> -->
    </div>
</nav> 
<div class="p-4 mt-5">
    <div *ngIf="!search" style="margin-left: 30px; margin-right: 30px;">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="search" style="margin-left: 30px; margin-right: 30px;">
        <div *ngIf="!searchAccount" class="item card-columns">
            <div id="1" *ngFor="let post of posts">
              <a routerLink="detail-post/{{post.id}}/{{post.ownerId}}" class="text-dark card-link" id="1">
                <div class="card btn-outline-white">
                  <img class="card-img-top img-fluid" [src]="createImgPath(post.imagePath)" alt="Card image cap">
                  <p class="card-title" style="margin: 5px 5px 5px 5px; font-size:15px; font-family: Noto Serif;">{{post.postTitle}}</p>
                </div> 
              </a>
            </div>  
        </div>
    </div>
</div>