<div class="p-4 row">
    <div><a class="btn" routerLink="../"><svg class="Hn_ gUZ pBj" height="20" width="20" viewBox="0 0 24 24" aria-label="Nút quay lại" role="img"><path d="M8.415 4.586a2 2 0 1 1 2.828 2.828L8.657 10H21a2 2 0 0 1 0 4H8.657l2.586 2.586a2 2 0 1 1-2.828 2.828L1 12l7.415-7.414z"></path></svg></a></div>
    <div class="container">
        <div class="card shadow-lg">
            <div class="row">
                <div class="col-6" style="justify-content: center; align-items: center; display: flex;">
                    <div class="card mt-4 mb-4 ml-4 mr-4" style="justify-content: center; align-items: center; display: flex; height: 90%; width: 95%">
                        <img *ngIf="imageSrc!=null" style="height: 100%; width: 100%;" [src]="imageSrc" alt="">
                        <h6 *ngIf="imageSrc==null && isAddMode">Chưa có hình ảnh được chọn</h6>
                        <img *ngIf="!isAddMode && imageSrc==null" style="height: 100%; width: 100%;" [src]="createImgPath(post.imagePath)" alt="">
                    </div>
                </div>
                <div class="col-6 mt-5 mb-5">
                    <div class="mr-4">
                        <h3 *ngIf="isAddMode" class="text-center">Thêm bài viết</h3>
                        <h3 *ngIf="!isAddMode" class="text-center">Chỉnh sửa bài viết</h3>
                        <form [formGroup]="myForm" (ngSubmit)="submit()">
                            <div class="form-group">
                                <label for="postTitle">Tiêu đề</label>
                                <input *ngIf="isAddMode" type="text" class="form-control" formControlName="postTitle" id="postTitle" placeholder="Nhập tiêu đề" [ngClass]="{ 'is-invalid': submitted && f.postTitle.errors }">
                                <input *ngIf="!isAddMode" type="text" class="form-control" formControlName="postTitle" id="postTitle" value="{{post.postTitle}}" [ngClass]="{ 'is-invalid': submitted && f.postTitle.errors }">
                                <div *ngIf="submitted && f.postTitle.errors" class="invalid-feedback">
                                    <div *ngIf="f.postTitle.errors.required">Vui lòng nhập tiêu đề</div>
                                </div>
                            </div>
                            <div *ngIf="isAddMode" class="form-group">
                                <label for="file">File</label>     
                                <input      
                                    formControlName="file"     
                                    id="file"      
                                    type="file"      
                                    class="form-control"     
                                    (change)="onFileChange($event)"
                                    style="word-wrap:break-word;"
                                    [ngClass]="{ 'is-invalid': submitted && f.file.errors }">     
                                <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
                                    <div *ngIf="f.postTitle.file.required">Vui lòng tải hình</div>
                                </div>     
                            </div>
                            <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: auto; width:500px"> -->
                            <!-- <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload> -->
                            <div class="row">
                                <div class="offset-md-5 col-md-2 btn-group">
                                <button type="submit" class="btn btn-primary">Đăng</button>
                                </div>
                            </div>
                        </form>
                    </div>                   
                </div>
            </div>          
        </div>    
    </div>
</div>

