/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.is-online{
  font-size: 13px;
  color: rgb(4, 196, 4);
  position: absolute;
}

.sc-ion-searchbar-md-h{
  --border-radius: 25px !important;
}

ion-card {
  margin: 0 0 10px 5px !important;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
        --column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
}

.centerAll{
  align-items: center;
  justify-content: center;
  display: flex;
}

.centerColumn{
  align-items: center;
  display: flex;
}

.centerRow{
  justify-content: center;
  display: flex;
}

