.header{
  background-color: white;
  position: fixed;
  box-sizing: border-box;
  z-index: 660;
  top: 0;
  width: 100%;
  height: 115px;
  padding: 15px 0;
}

.body {
  margin: 120px 10px 0 10px;
}

ion-searchbar{
  --border-radius: 20px !important;
  margin-top: 5px;
}

ion-title{
  text-align: center;
  font-weight: 700;
}

ion-avatar{
  width: 60px;
  height: 60px;
  position: relative;
}

.name{
  font-weight: 600;
}

.mess{
  margin-bottom: 0;
}

.time{
  font-size: small;
  // color: rgb(102, 102, 102);
}

.onlForMess{
  right: 20px;
  bottom: 5px;
}

.onlForSearch{
  right: 16px;
  bottom: 2px;
}

.itemSearch{
  --padding-start: 0 !important;
}

