<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title>Tin nhắn</ion-title>
    <ion-searchbar placeholder="Tìm kiếm bằng tên hoặc email"></ion-searchbar>
  </div>
  <div class="body">
    <ion-row>
      <ion-col size="2">
        <ion-avatar><img src="../../assets/images/default-profile.png"></ion-avatar>
      </ion-col>
      <ion-col size="8">
        <ion-label (click)="openModalChat()" class="name">Lê Huy Hiệp</ion-label>
        <p class="mess">Hello! <span class="time">· 1 phút trước</span></p>
      </ion-col>
      <ion-col size="1">

      </ion-col>
    </ion-row>
  </div>
</ion-content>
