<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title>Tin nhắn</ion-title>
    <ion-searchbar *ngIf="!search" (keydown.enter)="onSearch($event)" placeholder="Tìm kiếm bằng tên"></ion-searchbar>
    <ion-item *ngIf="search" lines="none">
      <ion-searchbar (keydown.enter)="onSearch($event)"></ion-searchbar>
      <p (click)="unSearch()" style="margin-top: 5%;">Huỷ</p>
    </ion-item>
  </div>
  <div *ngIf="!search" class="body">
    <ion-list *ngFor="let message of messages">
      <ion-row>
        <ion-col size="2">
          <ion-avatar *ngIf="message.recipientAvatarPath==null"><img src="../../assets/images/default-profile.png"></ion-avatar>
          <ion-avatar *ngIf="message.recipientAvatarPath!=null"><img [src]="message.recipientAvatarPath"></ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-label (click)="openModalChat(message.recipientId)" class="name">{{message.recipientName}}
            <span *ngIf = "(presence.onlineUsers$ | async).includes(message.recipientId)">
              <ion-icon name="ellipse" style="justify-content: center; display: flex; color: rgb(0, 158, 0);"></ion-icon>
            </span>
          </ion-label>
          <p class="mess">{{message.content}} <span class="time">· {{message.created | timeago}}</span></p>
        </ion-col>
        <ion-col *ngIf="message.read==null" size="1">
          <ion-icon name="ellipse" style="justify-content: center; display: flex; color: blue;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

  <div *ngIf="search" class="body">
    <ion-list *ngFor="let account of accounts">
      <ion-item lines="none" slot="start">
        <ion-col size="2">

          <ion-avatar *ngIf="account.avatarPath!=null"><img [src]="account.avatarPath"></ion-avatar>
          <ion-avatar *ngIf="account.avatarPath==null"><img src="../../assets/images/default-profile.png"></ion-avatar>
        </ion-col>
        <ion-col size="10">
          <ion-label (click)="openModalChat(account.id)" style="margin-left:5px;">{{account.name}}
            <span *ngIf = "(presence.onlineUsers$ | async).includes(account.id)">
              <ion-icon name="ellipse" style="color: blue; width: 15px; height: 15px;"></ion-icon>
            </span>
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
