.header{
  background-color: white;
  position: fixed;
  box-sizing: border-box;
  z-index: 660;
  top: 0;
  width: 100%;
  height: 100px;
  margin-top: 15px;
}

.body {
  margin: 120px 10px 0 10px;
}

ion-searchbar{
  --border-radius: 20px !important;
  margin-top: 5px;
}

ion-title{
  text-align: center;
  font-weight: 700;
}

ion-avatar{
  width: 50px;
  height: 50px;
  position: relative;
}

ion-row{
  // background-color: rgb(214, 214, 214);
}

.name{
  font-weight: 700;
}

.mess{
  margin-bottom: 0;
}

.time{
  font-size: small;
  color: rgb(102, 102, 102);
}

.is-online{
  color: rgb(2, 168, 2);
  position: absolute;
  right: 10px;
  bottom: 5px;
}
