<div class="col-10">
    <h3 class="text-center">Đăng nhập</h3>
    <div class="mt-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <!-- <label>Email</label> -->
                <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Bạn chưa nhập Email.</div>
                    <div *ngIf="f.email.errors.email">Email không hợp lệ.</div>
                </div>
            </div>
            <div class="form-group">
                <!-- <label>Password</label> -->
                <input type="password" formControlName="password" class="form-control" placeholder="Mật khẩu" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Bạn chưa nhập mật khẩu.</div>
                </div>
                <a routerLink="../forgot-password" class="btn"><span style="font-size: small;">Quên mật khẩu?</span></a>
            </div>
            
            <div class="form-group text-center" style="font-size: 100%;">
                <button [disabled]="loading" class="btn btn-danger rounded-pill col-12" style="font-size: 100%;">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <span>Đăng nhập</span>
                </button>
            </div>
            <p class="text-center" style="font-size: small;">Hoặc</p>
            <div class="form-group text-center" style="font-size: 100%;">
                <button (click)="signInWithFB()" class="btn btn-social btn-primary rounded-pill col-12" style="font-size: 100%;">
                    <span class="fa fa-facebook"></span>
                    <span class="ml-3" style="font-size: 80%;">Đăng nhập với Facebook</span>
                </button>
                <button (click)="signInWithGoogle()" class="btn btn-social btn-danger rounded-pill mt-2 col-12" style="font-size: 100%;">
                    <span class="fa fa-google"></span>
                    <span class="ml-3" style="font-size: 80%;">Đăng nhập với Google</span>
                </button>
            </div>
            <!-- <div class="form-group col-12 text-center" style="font-size: 100%;">
                <button (click)="signInWithFB()" class="btn btn-social btn-primary rounded-pill">
                    <span class="fa fa-facebook">  Đăng nhập với Facebook</span>
                </button>
            </div> -->
            <div class="form-group col-12 text-center" style="font-size: 100%;">
                <a routerLink="../register" class="btn" ><span style="font-size: small; font-weight: bold;">Chưa tham gia?Đăng ký</span></a>
            </div>
            <!-- <div class="form-group col text-right">
                <a routerLink="../forgot-password" class="btn btn-link pr-0">Forgot Password?</a>
            </div> -->
        </form>
    </div>
</div>
