<ion-content [fullscreen]="true">
  <div class="header">
    <ion-row>
      <ion-icon (click)="closeModalCmt()" class="close" style="text-align: right;" name="close-outline"></ion-icon>
      <ion-title class="title">Nhận xét</ion-title>
    </ion-row>
  </div>

  <div class="body">
    <ion-list *ngFor="let comment of comments">
      <ion-row *ngIf="comment.parrentId===0" slot="start">
        <ion-col size="2">
          <ion-avatar *ngIf="comment.ownerAvatar!==null" class="avatar"><img [src]="comment.ownerAvatar"></ion-avatar>
          <ion-avatar *ngIf="comment.ownerAvatar===null" class="avatar"><img src="../../assets/images/default-profile.png"></ion-avatar>
        </ion-col>
        <ion-col>
          <div class="comment">
            <ion-title style="font-size: 16px; font-weight: 700; transform: none !important; padding: 0;">{{comment.ownerName}}<span class="time">{{comment.created | dateAgoExample}}</span></ion-title>
            <ion-text style="font-size: 16px;">{{comment.content}}</ion-text>
          </div>
          <ion-item lines="none">
            <ion-icon *ngIf="comment.isReactedByThisUser===false" (click)="onCreateReactionComment(comment.id)" name="heart-outline" class="icon-comment"></ion-icon>
            <ion-icon *ngIf="comment.isReactedByThisUser===true" (click)="unReactionComment(comment.id)" name="heart" style="color: rgba(255, 0, 0, 0.788);" class="icon-comment"></ion-icon>
            <span *ngIf="comment.reactionCount!==0" style="margin-left: 1px; color:black;">{{comment.reactionCount}}</span>
            <ion-icon class="icon-comment" (click)="focusInputReplyComment(comment.id, comment.ownerName)" name="chatbox-outline" style="margin-left: 5px;"></ion-icon>
            <ion-icon *ngIf="comment.ownerId===maccount.id" (click)="openOptinalForCmt(comment.id, comment.content)" class="icon-comment" name="ellipsis-horizontal" style="margin-left: 5px;"></ion-icon>
            <ion-icon *ngIf="comment.ownerId!==maccount.id" (click)="openOptinalForCmtId(comment.id)" class="icon-comment" name="ellipsis-horizontal" style="margin-left: 5px;"></ion-icon>
          </ion-item>
          <div *ngIf="comment.childCount!==0 && !seenReplyComment" (click)="onSeenReplyComment()" style="align-items: center; display: flex;">
            <span style="font-size: 14px;">Xem {{comment.childCount}} câu trả lời</span>
            <ion-icon name="chevron-down-outline" style="width: 15px; height: 15px; margin-left: 5px;"></ion-icon>
          </div>
          <div *ngIf="comment.childCount!==0 && seenReplyComment">
            <div (click)="unSeenReplyComment()" style="align-items: center; display: flex;">
              <span style="font-size: 14px;">Ẩn câu trả lời</span>
              <ion-icon name="chevron-up-outline" style="width: 15px; height: 15px; margin-left: 5px;"></ion-icon>
            </div>
            <app-reply-comment *ngIf="!finishUpdate" [commentId] = "comment.id"  (editReplyCommentId)="onEditReplyComment($event, $event)"></app-reply-comment>
            <app-reply-comment *ngIf="finishUpdate" [commentId] = "comment.id" [editCommentContent] = "editCommentContent"  (editReplyCommentId)="onEditReplyComment($event, $event)"></app-reply-comment>
          </div>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

  <div class="footer">
    <form *ngIf="!onReplyComment" #commentForm="ngForm" autocomplete="off">
      <div *ngIf="editComment" (click)="unUpdateComment()" class="ion-text-right" style="cursor: pointer;">
        <ion-text>Huỷ</ion-text>
      </div>
      <ion-row>
        <ion-col size="2">
          <ion-avatar *ngIf="account.avatarPath!==null" class="avatar"><img [src]="account.avatarPath"></ion-avatar>
          <ion-avatar *ngIf="account.avatarPath===null" class="avatar"><img src="../../assets/images/default-profile.png"></ion-avatar>
        </ion-col>
        <ion-col>
          <ion-item lines="none" class="ion-form-group input">
            <ion-input
            #inputEditComment
            required
            name="commentContent"
            [(ngModel)]="commentContent"
            class="ion-form-control"
            placeholder="Viết nhận xét..."></ion-input>
            <ion-button [disabled]="!commentForm.valid" type="submit">
              <span>
                <ion-icon *ngIf="!editComment" (click)="sendComment()" name="paper-plane" style="width: 23px; height: 23px"></ion-icon>
                <ion-icon *ngIf="editComment" (click)="sendUpdateComment()" name="paper-plane" style="width: 23px; height: 23px"></ion-icon>
              </span>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
    <form *ngIf="onReplyComment" #replyCommentForm="ngForm" autocomplete="off">
      <div *ngIf="editComment" (click)="unUpdateComment()" class="ion-text-right" style="cursor: pointer;">
        <ion-text>Huỷ</ion-text>
      </div>
      <ion-row *ngIf="!editComment">
        <ion-col>
          <ion-text >Đang trả lời <span style="font-weight: 700;">{{ownerName}}</span></ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-icon (click)="unReplyComment()" style="text-align: right; width: 20px; height: 20px;" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-avatar *ngIf="account.avatarPath!==null" class="avatar"><img [src]="account.avatarPath"></ion-avatar>
          <ion-avatar *ngIf="account.avatarPath===null" class="avatar"><img src="../../../assets/images/default-profile.png"></ion-avatar>
        </ion-col>
        <ion-col>
          <ion-item lines="none" class="ion-form-group input">
            <ion-input
            #inputCommentReply
            name="replyCommentContent"
            required
            [(ngModel)]="replyCommentContent"
            class="ion-form-control"
            placeholder="Viết nhận xét..."></ion-input>
            <!-- <ion-input
            *ngIf="editComment"
            #inputCommentReply
            name="commentContent"
            required
            [(ngModel)]="commentContent"
            class="ion-form-control"
            placeholder="Viết nhận xét..."></ion-input> -->
            <ion-button [disabled]="!replyCommentForm.valid" type="submit">
              <span>
                <ion-icon *ngIf="!editComment" (click)="sendReplyComment()" name="paper-plane" style="width: 23px; height: 23px"></ion-icon>
                <ion-icon *ngIf="editComment" (click)="sendUpdateReplyComment()" name="paper-plane" style="width: 23px; height: 23px"></ion-icon>
              </span>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>
