<nav class="navbar navbar-expand navbar-light">
    <div class="navbar-brand"><i class="fa fa-pinterest fa-2x text-danger"></i></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/home" class="nav-link bold btn btn-dark text-white nav-btn" href="#">Trang chủ<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link bold btn nav-btn" href="#">Người bạn đang theo dõi</a>
            </li>
            <li id="search-box" class="ml-3 mr-3 nav-item mt-1 d-flex">
                <span id="search"><i class="fa fa-search"></i></span> <input id="search-form" class="form-control"
                    style="width:800px" type="text">
            </li>
        </ul>
        <div class="d-flex justify-content-end">
            <div class="navbar-nav" dropdown [insideClick]="true">
                <div class="nav-item dropdown br-xam "> <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                        dropdownToggle><i class="fa fa-bell fa-2x"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                        <li class="dropdown-item align-content-center">Thanh tiếp tục thích bạn</li>
                        <li class="dropdown-item">Thanh lại thích bạn</li>
                        <li class="dropdown-item">Thanh đã thích bạn</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nav-item"> <a href="" class="nav-item"><i class="fa fa-user fa-2x text-dark"></i></a></div>
        <div class="nav-item mr-4">
            <div class="navbar-nav" dropdown [insideClick]="true">
                <div class="nav-item dropdown br-xam "> <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                        dropdownToggle></a>
                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                        <li class="dropdown-item nav-link"><a class="card-link" routerLink="/account-setting">Cài đặt <i class="fa fa-cogs"></i></a> </li>
                        <li class="dropdown-item nav-link badge badge-danger">Đăng xuất</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<app-card-columns-image></app-card-columns-image>