<!-- <section class="card">
  <h1>Tạo hình ảnh</h1>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="postTitle">Tiêu đề</label>
      <input type="text" class="form-control" formControlName="postTitle" id="postTitle" placeholder="Nhập tiêu đề">
    </div>
    <div class="form-group" (onUploadFinished)="uploadFinished($event)">
      <label for="file">File</label>     
      <input      
          formControlName="file"     
          id="file"      
          type="file"      
          class="form-control"     
          (change)="onFileChange($event)">     
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">      
          <div *ngIf="f.file.errors.required">File is required.</div>     
      </div>     
    </div>
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: auto; width:500px">
    <div class="row">
      <div class="offset-md-5 col-md-2">
        <button type="submit" class="btn btn-primary">Đăng </button>
      </div>
    </div>
  </form>
</section> -->

<!-- <h1>Hi {{account.firstName}}!</h1> -->
<!-- <section class="posts">
  <div class="offset-md-10 col-md-2">
    <button type="button" class="btn btn-primary">Tạo hình ảnh</button>
  </div>  
</section> -->

<div class="item card-columns">
  <div id="1" *ngFor="let post of posts">
    <a routerLink="detail-post/{{post.id}}" class="text-dark card-link" id="1">
      <div class="card btn-outline-white">
        <img class="card-img-top img-fluid" [src]="createImgPath(post.imagePath)" alt="Card image cap">
        <p class="card-title" style="margin: 5px 5px 5px 5px; font-size:15px; font-family: Noto Serif;">{{post.postTitle}}</p>
      </div> 
    </a>
  </div>  
</div>

<div class="btn btn-fixed" >
  <button routerLink="add-post" routerLinkActive="router-link-active"  data-toggle="tooltip" data-placement="left" title="Thêm hình" class="btn btn-outline-white rounded-circle" style="height: 50px; width: 50px; background-color: rgb(238, 237, 237); box-shadow: 0px 8px 8px -6px black;" type="button">
    <svg class="gUZ pBj U9O kVc" height="16" width="16" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
      <path d="M22 10h-8V2a2 2 0 0 0-4 0v8H2a2 2 0 0 0 0 4h8v8a2 2 0 0 0 4 0v-8h8a2 2 0 0 0 0-4"></path>
    </svg>
  </button>
</div>
