<div class="p-4 row">
  <div class="col-6 m-auto text-center">
    <img *ngIf="account.avatarPath==null" class="rounded-circle" style="height: 120px; width: 120px;" src="../../assets/images/default-profile.png">
    <img *ngIf="account.avatarPath!=null" class="rounded-circle" style="height: 120px; width: 120px;" [src]="account.avatarPath">
    <span *ngIf = "account.id != maccount.id && (presenceService.onlineUsers$ | async).includes(account.id)" class="material-icons is-online">circle</span>
    <button *ngIf = "account.id == maccount.id" (click)="openSetAvatarDialog()" data-toggle="tooltip" data-placement="left" title="Thay đổi ảnh đại diện" class="btn btn-light btn-outline-white rounded-circle centerAll camera" style="height: 30px; width: 30px;" type="button">
      <i class="fas fa-camera"></i>
    </button>

    <h1 class="m-3" style="font-weight: bold;">{{account.name}}
      <span *ngIf="account.id != maccount.id">
        <i (click)="openReportDialog(account.id)" class="fas fa-exclamation-circle icon"></i>
      </span>
    </h1>

    <p>
      <span *ngIf="account.followerCount==0" style="font-weight:lighter;">{{account.followerCount}} người theo dõi </span>
      <span *ngIf="account.followerCount!=0" type="button" (click)="openListFollowerDialog(account.followerCount)" style="font-weight: 500;">{{account.followerCount}} người theo dõi </span>
       -
       <span *ngIf="account.followingCount==0" style="font-weight:lighter;"> Đang theo dõi {{account.followingCount}} người</span>
       <span *ngIf="account.followingCount!=0" type="button" (click)="openListFollowingDialog(account.followingCount)" style="font-weight: 500;"> Đang theo dõi {{account.followingCount}} người</span>
      </p>
    <div *ngIf="id!=maccount.id" class="mt-2">
      <button (click)="openModalMessage(id)" class="btn btn-light rounded-pill">Nhắn tin</button>
      <button *ngIf="account.isFollowedByCurrentUser==0" (click)="onCreateFollow()" class="btn btn-danger rounded-pill ml-2">Theo dõi</button>
      <button *ngIf="account.isFollowedByCurrentUser==1" (click)="unFollow()" class="btn btn-light rounded-pill ml-2">Huỷ theo dõi</button>
    </div>
    <div class="row">
      <div *ngIf="maccount.id==id" class="container text-center">
        <button routerLink="update" routerLinkActive="active"  data-toggle="tooltip" data-placement="left" title="Chỉnh sửa thông tin" class="btn btn-light btn-outline-white rounded-circle text-center" style="height: 48px; width: 48px;" type="button">
            <svg class="gUZ pBj U9O kVc" height="18" width="18" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
                <path d="M13.386 6.018l4.596 4.596L7.097 21.499 1 22.999l1.501-6.096L13.386 6.018zm8.662-4.066a3.248 3.248 0 0 1 0 4.596L19.75 8.848 15.154 4.25l2.298-2.299a3.248 3.248 0 0 1 4.596 0z"></path>
            </svg>
        </button>
        <button *ngIf="maccount.role == 'User'" routerLink="../../../add-post" routerLinkActive="active"  data-toggle="tooltip" data-placement="left" title="Thêm bài viết" class="btn btn-light btn-outline-white rounded-circle text-center ml-2" style="height: 48px; width: 48px;" type="button">
            <svg class="gUZ pBj U9O kVc" height="18" width="18" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
              <path d="M22 10h-8V2a2 2 0 0 0-4 0v8H2a2 2 0 0 0 0 4h8v8a2 2 0 0 0 4 0v-8h8a2 2 0 0 0 0-4"></path>
            </svg>
        </button>
        <button *ngIf="maccount.role == 'Admin'" routerLink="../../add-post" routerLinkActive="active"  data-toggle="tooltip" data-placement="left" title="Thêm bài viết" class="btn btn-light btn-outline-white rounded-circle text-center ml-2" style="height: 48px; width: 48px;" type="button">
          <svg class="gUZ pBj U9O kVc" height="18" width="18" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
            <path d="M22 10h-8V2a2 2 0 0 0-4 0v8H2a2 2 0 0 0 0 4h8v8a2 2 0 0 0 4 0v-8h8a2 2 0 0 0 0-4"></path>
          </svg>
      </button>
      </div>
    </div>
  </div>
</div>
<mat-tab-group *ngIf="id == maccount.id" mat-align-tabs="center">
  <mat-tab label="Công khai">
    <div class="item card-columns mt-4">
      <div id="1" *ngFor="let post of posts">
        <a class="text-dark card-link" id="1">
          <!-- <div class="card btn-outline-white">
            <img class="card-img-top img-fluid" [src]="post.path" alt="Card image cap">
            <p class="card-title" style="margin: 5px 5px 5px 5px; font-size:15px;"><strong>{{post.title}}</strong></p>
          </div> -->
          <div class="card btn-outline-white">
            <div class="card-img">
              <img class="card-img card-img-top img-fluid" [src]="post.path" alt="Card image cap">
              <div *ngIf="maccount.role == 'User'" routerLink="../../../detail-post/{{post.id}}/{{post.ownerId}}" class="card_inner">
              </div>
              <div *ngIf="maccount.role == 'Admin'" (click)="goDetail(post.id, post.ownerId)" class="card_inner">
              </div>
              <div *ngIf="id==maccount.id" class="button-inner" style="text-align: right;">
                <button (click)="openEditPostDialog(post.id)" class="btn btn-ouline-light rounded-circle">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn btn-ouline-light rounded-circle ml-2">
                  <a href="post.path" download="{{post.title}}.jpg">
                    <span>
                      <i class="fas fa-download"></i>
                    </span>
                  </a>
                </button>
              </div>
              <div *ngIf="id!=maccount.id" class="button-inner dropdown no-arrow ml-4" dropdown style="text-align: right;">
                <button class="dropdown-toggle card-link btn btn-ouline-light rounded-circle" role="button"
                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    dropdownToggle>
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div id="myDropdown" class="dropdown-menu dropdown-menu-bottom shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink" *dropdownMenu>
                    <a class="dropdown-item" href="post.path" download="{{post.title}}.jpg">Tải xuống</a>
                    <a class="dropdown-item" (click)="openReportPostDialog(post.id)">Báo cáo bài viết</a>
                </div>
              </div>
            </div>
            <div *ngIf="maccount.role == 'User'" routerLink="../../../detail-post/{{post.id}}/{{post.ownerId}}" class="card-title" style="margin: 5px 5px 0 5px; font-size:15px">
              <strong>{{post.title}}</strong>
            </div>
            <div *ngIf="maccount.role == 'Admin'" (click)="goDetail(post.id, post.ownerId)" class="card-title" style="margin: 5px 5px 0 5px; font-size:15px">
              <strong>{{post.title}}</strong>
            </div>
            <i *ngIf="post.isReactedByThisUser== false" (click)="onCreateReaction(post.id)" class="fa fa-heart btn" style=" color: rgb(175, 173, 173); margin: 0 5px; padding: 0;"></i>
            <i *ngIf="post.isReactedByThisUser==true" (click)="unReaction(post.id)" class="fa fa-heart btn" style=" color: rgba(212, 10, 10, 0.76); margin: 0 5px; padding: 0;"></i>
            <span *ngIf="post.reactionCount!==0" style="margin-left: 1px; color:black; font-size: 13px;">{{post.reactionCount}}</span>
          </div>
        </a>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Riêng tư">
    <div class="item card-columns mt-4">
      <div id="1" *ngFor="let post of privatePosts">
        <a class="text-dark card-link" id="1">
          <!-- <div class="card btn-outline-white">
            <img class="card-img-top img-fluid" [src]="post.path" alt="Card image cap">
            <p class="card-title" style="margin: 5px 5px 5px 5px; font-size:15px;"><strong>{{post.title}}</strong></p>
          </div> -->
          <div class="card btn-outline-white">
            <div class="card-img">
              <img class="card-img card-img-top img-fluid" [src]="post.path" alt="Card image cap">
              <div *ngIf="maccount.role == 'User'" routerLink="../../../detail-post/{{post.id}}/{{post.ownerId}}" class="card_inner">
              </div>
              <div *ngIf="maccount.role == 'Admin'" (click)="goDetail(post.id, post.ownerId)" class="card_inner">
              </div>
              <div *ngIf="id==maccount.id" class="button-inner" style="text-align: right;">
                <button (click)="openEditPostDialog(post.id)" class="btn btn-ouline-light rounded-circle">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn btn-ouline-light rounded-circle ml-2">
                  <a href="post.path" download="{{post.title}}.jpg">
                    <span>
                      <i class="fas fa-download"></i>
                    </span>
                  </a>
                </button>
              </div>
              <div *ngIf="id!=maccount.id" class="button-inner dropdown no-arrow ml-4" dropdown style="text-align: right;">
                <button class="dropdown-toggle card-link btn btn-ouline-light rounded-circle" role="button"
                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    dropdownToggle>
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div id="myDropdown" class="dropdown-menu dropdown-menu-bottom shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink" *dropdownMenu>
                    <a class="dropdown-item" href="post.path" download="{{post.title}}.jpg">Tải xuống</a>
                    <a class="dropdown-item" (click)="openReportPostDialog(post.id)">Báo cáo bài viết</a>
                </div>
              </div>
            </div>
            <div *ngIf="maccount.role == 'User'" routerLink="../../../detail-post/{{post.id}}/{{post.ownerId}}" class="card-title" style="margin: 5px 5px 0 5px; font-size:15px">
              <strong>{{post.title}}</strong>
            </div>
            <div *ngIf="maccount.role == 'Admin'" (click)="goDetail(post.id, post.ownerId)" class="card-title" style="margin: 5px 5px 0 5px; font-size:15px">
              <strong>{{post.title}}</strong>
            </div>
            <i *ngIf="post.isReactedByThisUser== false" (click)="onCreateReaction(post.id)" class="fa fa-heart btn" style=" color: rgb(175, 173, 173); margin: 0 5px; padding: 0;"></i>
            <i *ngIf="post.isReactedByThisUser==true" (click)="unReaction(post.id)" class="fa fa-heart btn" style=" color: rgba(212, 10, 10, 0.76); margin: 0 5px; padding: 0;"></i>
            <span *ngIf="post.reactionCount!==0" style="margin-left: 1px; color:black; font-size: 13px;">{{post.reactionCount}}</span>
          </div>
        </a>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Yêu thích">
    <div class="item card-columns mt-4">
      <div id="1" *ngFor="let post of likePosts">
        <a class="text-dark card-link" id="1">
          <!-- <div class="card btn-outline-white">
            <img class="card-img-top img-fluid" [src]="post.path" alt="Card image cap">
            <p class="card-title" style="margin: 5px 5px 5px 5px; font-size:15px;"><strong>{{post.title}}</strong></p>
          </div> -->
          <div class="card btn-outline-white">
            <div class="card-img">
              <img class="card-img card-img-top img-fluid" [src]="post.path" alt="Card image cap">
              <div *ngIf="maccount.role == 'User'" routerLink="../../../detail-post/{{post.id}}/{{post.ownerId}}" class="card_inner">
              </div>
              <div *ngIf="maccount.role == 'Admin'" (click)="goDetail(post.id, post.ownerId)" class="card_inner">
              </div>
              <div *ngIf="id==maccount.id" class="button-inner" style="text-align: right;">
                <button (click)="openEditPostDialog(post.id)" class="btn btn-ouline-light rounded-circle">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn btn-ouline-light rounded-circle ml-2">
                  <a href="post.path" download="{{post.title}}.jpg">
                    <span>
                      <i class="fas fa-download"></i>
                    </span>
                  </a>
                </button>
              </div>
              <div *ngIf="id!=maccount.id" class="button-inner dropdown no-arrow ml-4" dropdown style="text-align: right;">
                <button class="dropdown-toggle card-link btn btn-ouline-light rounded-circle" role="button"
                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    dropdownToggle>
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div id="myDropdown" class="dropdown-menu dropdown-menu-bottom shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink" *dropdownMenu>
                    <a class="dropdown-item" href="post.path" download="{{post.title}}.jpg">Tải xuống</a>
                    <a class="dropdown-item" (click)="openReportPostDialog(post.id)">Báo cáo bài viết</a>
                </div>
              </div>
            </div>
            <div *ngIf="maccount.role == 'User'" routerLink="../../../detail-post/{{post.id}}/{{post.ownerId}}" class="card-title" style="margin: 5px 5px 0 5px; font-size:15px">
              <strong>{{post.title}}</strong>
            </div>
            <div *ngIf="maccount.role == 'Admin'" (click)="goDetail(post.id, post.ownerId)" class="card-title" style="margin: 5px 5px 0 5px; font-size:15px">
              <strong>{{post.title}}</strong>
            </div>
            <i *ngIf="post.isReactedByThisUser== false" (click)="onCreateReaction(post.id)" class="fa fa-heart btn" style=" color: rgb(175, 173, 173); margin: 0 5px; padding: 0;"></i>
            <i *ngIf="post.isReactedByThisUser==true" (click)="unReaction(post.id)" class="fa fa-heart btn" style=" color: rgba(212, 10, 10, 0.76); margin: 0 5px; padding: 0;"></i>
            <span *ngIf="post.reactionCount!==0" style="margin-left: 1px; color:black; font-size: 13px;">{{post.reactionCount}}</span>
          </div>
        </a>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<div *ngIf="id != maccount.id" class="item card-columns mt-4">
  <div id="1" *ngFor="let post of posts">
    <a class="text-dark card-link" id="1">
      <!-- <div class="card btn-outline-white">
        <img class="card-img-top img-fluid" [src]="post.path" alt="Card image cap">
        <p class="card-title" style="margin: 5px 5px 5px 5px; font-size:15px;"><strong>{{post.title}}</strong></p>
      </div> -->
      <div class="card btn-outline-white">
        <div class="card-img">
          <img class="card-img card-img-top img-fluid" [src]="post.path" alt="Card image cap">
          <div *ngIf="maccount.role == 'User'" routerLink="../../../detail-post/{{post.id}}/{{post.ownerId}}" class="card_inner">
          </div>
          <div *ngIf="maccount.role == 'Admin'" (click)="goDetail(post.id, post.ownerId)" class="card_inner">
          </div>
          <div *ngIf="id==maccount.id" class="button-inner" style="text-align: right;">
            <button (click)="openEditPostDialog(post.id)" class="btn btn-ouline-light rounded-circle">
              <i class="fas fa-pen"></i>
            </button>
            <button class="btn btn-ouline-light rounded-circle ml-2">
              <a href="post.path" download="{{post.title}}.jpg">
                <span>
                  <i class="fas fa-download"></i>
                </span>
              </a>
            </button>
          </div>
          <div *ngIf="id!=maccount.id" class="button-inner dropdown no-arrow ml-4" dropdown style="text-align: right;">
            <button class="dropdown-toggle card-link btn btn-ouline-light rounded-circle" role="button"
                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                dropdownToggle>
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div id="myDropdown" class="dropdown-menu dropdown-menu-bottom shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink" *dropdownMenu>
                <a class="dropdown-item" href="post.path" download="{{post.title}}.jpg">Tải xuống</a>
                <a class="dropdown-item" (click)="openReportPostDialog(post.id)">Báo cáo bài viết</a>
            </div>
          </div>
        </div>
        <div *ngIf="maccount.role == 'User'" routerLink="../../../detail-post/{{post.id}}/{{post.ownerId}}" class="card-title" style="margin: 5px 5px 0 5px; font-size:15px">
          <strong>{{post.title}}</strong>
        </div>
        <div *ngIf="maccount.role == 'Admin'" (click)="goDetail(post.id, post.ownerId)" class="card-title" style="margin: 5px 5px 0 5px; font-size:15px">
          <strong>{{post.title}}</strong>
        </div>
        <i *ngIf="post.isReactedByThisUser== false" (click)="onCreateReaction(post.id)" class="fa fa-heart btn" style=" color: rgb(175, 173, 173); margin: 0 5px; padding: 0;"></i>
        <i *ngIf="post.isReactedByThisUser==true" (click)="unReaction(post.id)" class="fa fa-heart btn" style=" color: rgba(212, 10, 10, 0.76); margin: 0 5px; padding: 0;"></i>
        <span *ngIf="post.reactionCount!==0" style="margin-left: 1px; color:black; font-size: 13px;">{{post.reactionCount}}</span>
      </div>
    </a>
  </div>
</div>
<div *ngIf="maccount.id==id" class="btn btn-fixed" >
  <button *ngIf="maccount.role == 'User'" routerLink="../../../add-post" data-toggle="tooltip" data-placement="left" title="Thêm bài viết" class="btn btn-outline-white rounded-circle" style="height: 50px; width: 50px; background-color: rgb(238, 237, 237); box-shadow: 0px 8px 8px -6px black;" type="button">
    <svg class="gUZ pBj U9O kVc" height="16" width="16" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
      <path d="M22 10h-8V2a2 2 0 0 0-4 0v8H2a2 2 0 0 0 0 4h8v8a2 2 0 0 0 4 0v-8h8a2 2 0 0 0 0-4"></path>
    </svg>
  </button>
  <button *ngIf="maccount.role == 'Admin'" routerLink="../../add-post" data-toggle="tooltip" data-placement="left" title="Thêm bài viết" class="btn btn-outline-white rounded-circle" style="height: 50px; width: 50px; background-color: rgb(238, 237, 237); box-shadow: 0px 8px 8px -6px black;" type="button">
    <svg class="gUZ pBj U9O kVc" height="16" width="16" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
      <path d="M22 10h-8V2a2 2 0 0 0-4 0v8H2a2 2 0 0 0 0 4h8v8a2 2 0 0 0 4 0v-8h8a2 2 0 0 0 0-4"></path>
    </svg>
  </button>
</div>
