<div mat-dialog-titile >
  <div class=" row">
    <div class="col">
      <h3 class="text-center" style="margin-left: 45px;">{{data.followerCount}} người theo dõi</h3>
    </div>
    <div class="col-1" style="text-align: right;">
      <a type="button"><span><i mat-dialog-close class="fa fa-times" style=" color: rgb(148, 148, 148); font-size:larger;"></i></span></a>
    </div>
  </div>
</div>
<div mat-dialog-content >
    <div id="1" *ngFor="let follow of follows" class="mt-2 ml-2 mr-2 mb-2">
        <div id="1" class="row">
            <div class="row col">
                <img *ngIf="follow.followerAvatarPath==null" src="../../../assets/images/default-profile.png" style="height: 50px; width: 51px;" class="img-fluid card rounded-circle" alt="">
                <img *ngIf="follow.followerAvatarPath!=null" [src]="follow.followerAvatarPath" style="height: 50px; width: 51px;" class="img-fluid card rounded-circle" alt="">
                <p class="ml-2 mt-3" routerLink="user/detail/{{follow.followerId}}" routerLinkActive="active" style="font-weight: bold; font-size: large;" mat-dialog-close>{{follow.followerName}}</p>
            </div>
            <div class="col-3 mt-2" *ngIf="maccount.id!=follow.followerId" style="padding: 0; text-align: right;">
                <button *ngIf="follow.isFollower_FollowedByCurrentUser==false" (click)="onCreateFollow(follow.followerId)" class="btn btn-danger rounded-pill">Theo dõi</button>
                <button *ngIf="follow.isFollower_FollowedByCurrentUser==true" (click)="unFollow(follow.followerId)" class="btn btn-light rounded-pill">Huỷ theo dõi</button>
            </div>
        </div>
    </div>
</div>
