
<ion-content padding>
  <div class="cover">
    <div>
      <h1 class="ion-text-center">SI</h1>
      <div class="ion-mt-4">
        <form>
          <!-- <ion-label>Email</ion-label> -->
          <ion-item lines="none" class="ion-form-group input" style="margin-bottom:15px;">
            <ion-input class="ion-form-control" type="email" placeholder="Email" ></ion-input>
          </ion-item>
          <ion-item lines="none" class="ion-form-group input" style="margin-bottom: none;">
            <ion-input class="ion-form-control" type="password" placeholder="Mật khẩu" ></ion-input>
          </ion-item>
          <ion-label class="forgetPass">Quên mật khẩu?</ion-label>
          <div class="ion-form-group">
            <ion-button shape="round">Đăng nhập</ion-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
