<div class="search">
  <label *ngIf="historySearchs.length>0">Tìm kiếm gần đây</label>
  <div class="row">
    <div *ngFor="let history of historySearchs">
      <button (click)="search(history)" class="btn btn-light rounded-pill strong button-search">{{history}}</button>
    </div>
  </div>
  <label class="mt-4">Gợi ý cho bạn</label>
  <div class="row">
    <div id="1" *ngFor="let post of posts">
      <div (click)="search(post.categories)" class="category mr-3 mb-3" style="background-image: url('{{post.path}}');">
        <div class="cover">
          <label class="label-cate">{{post.categories}}</label>
        </div>
      </div>
    </div>
  </div>
  <label class="mt-4">Phổ biến gần đây</label>
  <div class="row">
    <div id="1" *ngFor="let post of postsPopular">
      <div (click)="search(post.categories)" class="category mr-3 mb-3" style="background-image: url('{{post.path}}');">
        <div class="cover">
          <label class="label-cate">{{post.categories}}</label>
        </div>
      </div>
    </div>
  </div>
</div>

