<div class="p-4 row">
    <div><a class="btn" routerLink="../"><svg class="Hn_ gUZ pBj" height="20" width="20" viewBox="0 0 24 24" aria-label="Nút quay lại" role="img"><path d="M8.415 4.586a2 2 0 1 1 2.828 2.828L8.657 10H21a2 2 0 0 1 0 4H8.657l2.586 2.586a2 2 0 1 1-2.828 2.828L1 12l7.415-7.414z"></path></svg></a></div>
    <div class="col-9 m-auto">
        <h2 class="text-center">Update Profile</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label>Avatar</label>
            <div class="form-row">
                <div class="form-group col ml-2">
                    <img [src]="createImgPath(account.avatarPath)" class="rounded-circle" style="height: 100px; width: 100px;">
                    <!-- <img class="rounded-circle" [src]="createImgPath(account.avatarPath)" *ngIf="account.avatarPath != null || imageSrc" style="height: 100px; width: 100px;"> -->
                    <!-- <img class="rounded-circle" [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width: 100px;"> -->
                </div>
                <div class="form-group col-9">
                    <input      
                    formControlName="file"     
                    id="file"      
                    type="file"      
                    class="form-control"     
                    (change)="onFileChange($event)"
                    style="word-wrap:break-word;">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Title</label>
                    <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="form-group col-10">
                    <label>Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                </div>
                <!-- <div class="form-group col-5">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div> -->
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <h3 class="pt-3">Change Password</h3>
            <p>Leave blank to keep the same password</p>
            <div class="form-row">
                <div class="form-group col">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="loading" class="btn btn-primary mr-2">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Update
                </button>
                <button type="button" (click)="onDelete()" [disabled]="deleting" class="btn btn-danger">
                    <span *ngIf="deleting" class="spinner-border spinner-border-sm mr-1"></span>
                    Delete Account
                </button>
            </div>
        </form>
    </div>
</div>
