.icon-close{
  width: 30px;
  height: 30px;
  margin-left: 5%;
}

.buttonSubmit{
  text-align: right;
  margin-right: 5%;
  --background: rgba(230, 33, 33, 0.986);
  --box-shadow: none !important;
  --padding-start: 15px;
  --padding-end: 15px;
}
