<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-8">
            <p class="text-lg font-weight-bold text-wrap w-75">Mọi người trên Pinterest sẽ biết đến bạn qua thông tin bên dưới</p>
        </div>
        <div class="col-auto"><a href="" class="btn btn-light rounded-pill mr-2">Hủy</a> <a href=""
                class="btn btn-light rounded-pill">Lưu</a></div>
    </div>
    <div class="form-group">
        <label for="">Ảnh</label>
        <div class="row">
            <div class="col-2 pr-0 mr-0"><img id="avatar" src="../../../assets/images/7cd6761fc8fe982791239ea4777b69ee.jpg"
                    class="img-fluid rounded-circle" alt="avatar"></div>
            <div class="col-auto"><a class="btn btn-secondary rounded-pill">Thay đổi</a></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-6">
                <label for="">Tên</label>
                <input type="text" class="rounded-pill form-control" placeholder="Ví dụ: Trang">
            </div>
            <div class="col-lg-6 col-md-6 col-6">
                <label for="">Họ</label>
                <input type="text" class="rounded-pill form-control" placeholder="Ví dụ: Ngô">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">Tên người dùng</label>
        <input type="text" class="form-control rounded-pill" placeholder="Ví dụ: trang99">
    </div>
    <div class="form-group">
        <label for="">Giới thiệu hồ sơ của bạn</label>
        <textarea type="text" class="form-control rounded-pill" placeholder="Viết vài dòng về bản thân ở đây"></textarea> 
    </div>
    <div class="form-group">
        <label for="">Vị trí</label>
        <input type="text" class="form-control rounded-pill" placeholder="Ví dụ: Hồ Chí Minh">
    </div>
</div>