<!-- <ion-header>
  <ion-icon name="ellipsis-horizontal" style="color: black; text-align: right; font-size: large;"></ion-icon>
</ion-header> -->

<ion-content>
  <ion-fab *ngIf="id===undefined" horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-down" ios="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="down">
      <ion-fab-button (click)="openPublic()" color="light">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openPrivate()" color="light">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openLike()" color="light">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-avatar *ngIf="id!==undefined" (click)="back()" class="btn-back">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-avatar>
  <div class="ion-text-center" style="padding: 15px 10px;">
    <div class="centerRow">
      <ion-avatar *ngIf="account.avatarPath===null" style="position: relative;"><img src="../../../assets/images/default-profile.png"></ion-avatar>
      <ion-avatar *ngIf="account.avatarPath!==null" style="position: relative;"><img [src]="account.avatarPath"></ion-avatar>
      <span *ngIf="account.id===maccount.id" (click)="openUpdateAvatar()">
        <ion-avatar class="updateAvatar centerAll">
          <ion-icon name="camera-outline" style="font-size: 20px;"></ion-icon>
        </ion-avatar>
      </span>
      <!-- <span *ngIf="account.id!==maccount.id" (click)="openReportUser()">
        <ion-avatar class="updateAvatar centerAll">
          <ion-icon name="alert-circle-outline" style="font-size: 20px;"></ion-icon>
        </ion-avatar>
      </span> -->
      <span *ngIf="account.id!==maccount.id && (presenceService.onlineUsers$ | async).includes(account.id)">
        <ion-icon name="ellipse" class="is-online"></ion-icon>
      </span>
    </div>
    <ion-title class="ion-text-center">{{account.name}}</ion-title>
    <ion-label>
      <span *ngIf="account.followerCount===0">0 người theo dõi</span>
      <span *ngIf="account.followerCount!==0" (click)="openFollowerList()" style="font-weight: 600;">{{account.followerCount}} người theo dõi</span>
      ·
      <span *ngIf="account.followingCount===0">0 người đang theo dõi</span>
      <span *ngIf="account.followingCount!==0" (click)="openFollowingList()" style="font-weight: 600;">{{account.followingCount}} người đang theo dõi</span>
    </ion-label>
    <div *ngIf="accountId===maccount.id" class="centerRow" style="font-size: 30px;">
      <ion-icon (click)="openEditProfile(maccount.id)" name="create-outline"></ion-icon>
      <span style="margin-left: 5px; height: 30px;">
        <ion-icon (click)="openAddPost()" name="add-circle-outline"></ion-icon>
      </span>
    </div>
    <div *ngIf="accountId!==maccount.id" class="ion-text-center">
      <ion-button (click)="openReportUser()" class="onFollow" shape="round">Báo cáo</ion-button>
      <ion-button *ngIf="account.isFollowedByCurrentUser===0" (click)="onCreateFollow(account.id)" class="unFollow" shape="round">Theo dõi</ion-button>
      <ion-button *ngIf="account.isFollowedByCurrentUser!==0" (click)="unFollow(account.id)" class="onFollow" shape="round">Huỷ theo dõi</ion-button>
    </div>
  </div>

  <div>
    <ion-list *ngIf="!isPrivate && !isLike" class="card-columns listPost">
      <div *ngFor="let post of posts">
        <ion-card class="card" slot="start">
          <ion-img *ngIf="id===undefined" class="img" [src]="post.path" routerLink="detail/{{post.id}}/{{post.ownerId}}"></ion-img>
          <ion-img *ngIf="id!==undefined" class="img" [src]="post.path" routerLink="../../../detail/{{post.id}}/{{post.ownerId}}"></ion-img>
          <ion-row style="height: 25px;">
            <ion-col size="9" style="text-align: left; justify-self: center; display: flex;">
              <ion-icon class="iconPost" *ngIf="post.isReactedByThisUser===false" (click)="onCreateReaction(post.id)" name="heart-outline"></ion-icon>
              <ion-icon class="iconPost" *ngIf="post.isReactedByThisUser===true && post.reactionCount!==0" (click)="unReaction(post.id)" name="heart" style="color: rgba(255, 0, 0, 0.788);"></ion-icon>
              <span *ngIf="post.reactionCount!==0" style="margin-left: 1px; color: black;">{{post.reactionCount}}</span>
            </ion-col>
            <ion-col size="3" class="centerColumn" style="text-align: right;">
              <ion-icon name="people" style="margin-right: 5px;"></ion-icon>
              <ion-icon class="iconPost" *ngIf="accountId===maccount.id" (click)="openOptinalMyPost(post.path, post.id)" name="ellipsis-horizontal" style="color: black;"></ion-icon>
              <ion-icon class="iconPost" *ngIf="accountId!==maccount.id" (click)="openOptinal(post.path, post.id)" name="ellipsis-horizontal" style="color: black;"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-label *ngIf="id===undefined" routerLink="detail/{{post.id}}/{{post.ownerId}}" class="labelPost">{{post.title}}</ion-label>
          <ion-label *ngIf="id!==undefined" routerLink="../../../detail/{{post.id}}/{{post.ownerId}}" class="labelPost">{{post.title}}</ion-label>
        </ion-card>
      </div>
    </ion-list>

    <ion-list *ngIf="isPrivate" class="card-columns listPost">
      <div *ngFor="let post of privatePosts">
        <ion-card class="card" slot="start">
          <ion-img *ngIf="id===undefined" class="img" [src]="post.path" routerLink="detail/{{post.id}}/{{post.ownerId}}"></ion-img>
          <ion-img *ngIf="id!==undefined" class="img" [src]="post.path" routerLink="../../../detail/{{post.id}}/{{post.ownerId}}"></ion-img>
          <ion-row style="height: 25px;">
            <ion-col size="9" style="text-align: left; justify-self: center; display: flex;">
              <ion-icon class="iconPost" *ngIf="post.isReactedByThisUser===false" (click)="onCreateReaction(post.id)" name="heart-outline"></ion-icon>
              <ion-icon class="iconPost" *ngIf="post.isReactedByThisUser===true && post.reactionCount!==0" (click)="unReaction(post.id)" name="heart" style="color: rgba(255, 0, 0, 0.788);"></ion-icon>
              <span *ngIf="post.reactionCount!==0" style="margin-left: 1px; color: black;">{{post.reactionCount}}</span>
            </ion-col>
            <ion-col size="3" class="centerColumn" style="text-align: right;">
              <ion-icon name="lock-closed" style="margin-right: 5px;"></ion-icon>
              <ion-icon class="iconPost" *ngIf="accountId===maccount.id" (click)="openOptinalMyPost(post.path, post.id)" name="ellipsis-horizontal" style="color: black;"></ion-icon>
              <ion-icon class="iconPost" *ngIf="accountId!==maccount.id" (click)="openOptinal(post.path, post.id)" name="ellipsis-horizontal" style="color: black;"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-label *ngIf="id===undefined" routerLink="detail/{{post.id}}/{{post.ownerId}}" class="labelPost">{{post.title}}</ion-label>
          <ion-label *ngIf="id!==undefined" routerLink="../../../detail/{{post.id}}/{{post.ownerId}}" class="labelPost">{{post.title}}</ion-label>
        </ion-card>
      </div>
    </ion-list>

    <ion-list *ngIf="isLike" class="card-columns listPost">
      <div *ngFor="let post of likePosts">
        <ion-card class="card" slot="start">
          <ion-img *ngIf="id===undefined" class="img" [src]="post.path" routerLink="detail/{{post.id}}/{{post.ownerId}}"></ion-img>
          <ion-img *ngIf="id!==undefined" class="img" [src]="post.path" routerLink="../../../detail/{{post.id}}/{{post.ownerId}}"></ion-img>
          <ion-row style="height: 25px;">
            <ion-col size="10" style="text-align: left; justify-self: center; display: flex;">
              <ion-icon class="iconPost" *ngIf="post.isReactedByThisUser===false" (click)="onCreateReaction(post.id)" name="heart-outline"></ion-icon>
              <ion-icon class="iconPost" *ngIf="post.isReactedByThisUser===true && post.reactionCount!==0" (click)="unReaction(post.id)" name="heart" style="color: rgba(255, 0, 0, 0.788);"></ion-icon>
              <span *ngIf="post.reactionCount!==0" style="margin-left: 1px; color: black;">{{post.reactionCount}}</span>
            </ion-col>
            <ion-col size="2">
              <ion-icon class="iconPost" *ngIf="accountId===maccount.id" (click)="openOptinalMyPost(post.path, post.id)" name="ellipsis-horizontal" style="color: black;"></ion-icon>
              <ion-icon class="iconPost" *ngIf="accountId!==maccount.id" (click)="openOptinal(post.path, post.id)" name="ellipsis-horizontal" style="color: black;"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-label *ngIf="id===undefined" routerLink="detail/{{post.id}}/{{post.ownerId}}" class="labelPost">{{post.title}}</ion-label>
          <ion-label *ngIf="id!==undefined" routerLink="../../../detail/{{post.id}}/{{post.ownerId}}" class="labelPost">{{post.title}}</ion-label>
        </ion-card>
      </div>
    </ion-list>
  </div>
  <!-- <ion-label class="custom-file-upload rounded-circle">
    <input
    id="path"
    type="file"
    accept=".png,.jpg"
    (change)="onFileChange($event)"/>
    <ion-icon name="arrow-up-circle-outline"></ion-icon>
  </ion-label> -->
</ion-content>
