<div class="row" *ngIf="member" >
    <div class="col-4">
        <div class="card">
            <img src="{{member.avatarPath }}" alt="{{ member.name }}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Email:</strong>
                    <p>{{member.email}}</p>
                </div>
                <div>
                    <strong>Email:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Email:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-primary">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{ member.name }}">
                <h4>Gender</h4>
                <p>{{member.title}}</p>
            </tab>
            <tab heading="Message to {{ member.name }}">
                 
                <p>Messages go here</p>
            </tab>
        </tabset>
    </div>
</div>
