<ion-header [translucent]="true">
  <ion-title class="ion-text-center" style="font-weight: 700;">Thông báo</ion-title>
</ion-header>

<ion-content>
  <ion-list style="margin-top: -13px;">
    <div *ngFor="let notification of (presenceService.notificationThread$|async).slice().reverse()" >
      <div *ngIf="notification.actionOwnerId !== maccount.id" slot="start">
        <ion-item lines="none" (click)="updateNotification(notification)">
          <ion-col size="2.5" class="centerAll">
            <ion-avatar *ngIf="notification.actionOwnerAvatarPath === null" style="height: 70px; width: 70px;"><img src="../../../assets/images/default-profile.png"></ion-avatar>
            <ion-avatar *ngIf="notification.actionOwnerAvatarPath !== null" style="height: 70px; width: 70px;"><img [src]="notification.actionOwnerAvatarPath"></ion-avatar>
            <span *ngIf = "(presenceService.onlineUsers$ | async).includes(notification.actionOwnerId)">
              <ion-icon name="ellipse" class="is-online"></ion-icon>
            </span>
          </ion-col>
          <ion-col size="8.5" class="centerColumn">
            <!-- Thêm bài viết mới -->
            <div *ngIf="notification.notificationType === 0">
              <div *ngIf="notification.status===0">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã thêm bài viết mới</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
              <div *ngIf="notification.status===2" style="color: rgb(119, 119, 119);">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã thêm bài viết mới</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
            </div>
            <!-- Thích bài viết của bạn -->
            <div *ngIf="notification.notificationType === 1">
              <div *ngIf="notification.status===0">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã thích bài viết của bạn</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
              <div *ngIf="notification.status===2" style="color: rgb(119, 119, 119);">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã thích bài viết của bạn</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
            </div>
            <!-- Bình luận bài viết của bạn -->
            <div *ngIf="notification.notificationType === 2">
              <div *ngIf="notification.status===0">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã bình luận bài viết của bạn</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
              <div *ngIf="notification.status===2" style="color: rgb(119, 119, 119);">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã bình luận bài viết của bạn</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
            </div>
            <!-- Theo dõi bạn -->
            <div *ngIf="notification.notificationType === 3">
              <div *ngIf="notification.status===0">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã theo dõi bạn</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
              <div *ngIf="notification.status===2" style="color: rgb(119, 119, 119);">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã theo dõi bạn</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
            </div>
            <!-- Thích bình luận của bạn -->
            <div *ngIf="notification.notificationType === 5">
              <div *ngIf="notification.status===0">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã thích bình luận của bạn</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
              <div *ngIf="notification.status===2" style="color: rgb(119, 119, 119);">
                <ion-label style="white-space: normal; word-break: break-word; font-size: 17px;"><span style="font-weight: 600;">{{notification.actionOwnerName}}</span> đã thích bình luận của bạn</ion-label>
                <ion-label style="white-space: normal; word-break: break-word; font-size: 14px; font-weight: 500;">{{notification.created | dateAgoExample}}</ion-label>
              </div>
            </div>
          </ion-col>
          <ion-col size="1" class="centerAll">
            <ion-icon *ngIf="notification.status===0" name="ellipse" style="width: 15px; height: 15px; color: blue; cursor: pointer;"></ion-icon>
          </ion-col>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
