<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-8">
            <p class="text-lg font-weight-bold text-wrap w-75">Cài đặt thông báo</p>
        </div>
        <div class="col-auto"><a href="" class="btn btn-light rounded-pill mr-2">Hủy</a> <a href=""
                class="btn btn-light rounded-pill">Lưu</a></div>
    </div>
    <br>
    <div class="form-group mt-4">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-9">
                <strong>Trên Pinterest</strong>
                <p>Chọn loại thông báo để xem khi ở trong ứng dụng hoặc trên trang web</p>
            </div>
            <div class="col-auto">
                <a href="" class="btn btn-light rounded-lg">Sửa</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group mt-2">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-9">
                <strong>Bằng email</strong>
                <p>Chọn loại thông báo để nhận qua email.</p>
            </div>
            <div class="col-auto">
                <a href="" class="btn btn-light rounded-lg">Sửa</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group mt-2">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-9">
                <strong>Bằng thông báo đẩy</strong>
                <p>Chọn loại thông báo để nhận trên điện thoại hoặc máy tính.</p>
            </div>
            <div class="col-auto">
                <a href="" class="btn btn-light rounded-lg">Sửa</a>
            </div>
        </div>
    </div>
</div>