ion-row{
  align-items: center;
  display: flex;
}

.center{
  text-align: center;
  // margin-right: 5%;
}

.title {
  font-weight: 700;
}

.icon-close{
  width: 30px;
  height: 30px;
  margin-left: 5%;
}

.icon-select{
  // color: black;
  text-align: right;
  width: 20px;
  height: 20px;
  margin-right: 5%;
}

.chat{
  margin: 10px 10px 0px 10px;
  flex-direction: column-reverse;
  // transform: rotate(180deg); //Lật ngược
}

.right{
  text-align: right;
  margin-bottom: 10px;
}

// .mMess{
//   -moz-border-radius: 40px;
//   -webkit-border-radius: 40px;
//   border-radius: 40px;
//   border: 1px solid #DF2C2C !important;
//   background-color: #DF2C2C;
//   padding: 10px 12px 10px 12px;
// }

.text-mMess{
  display: block;
  color: white;
  border-radius: 25px;
  background-color: #DF2C2C;
  padding: 12px 14px 12px 14px;
  word-break: break-word;
  word-wrap: break-word;
}

.left{
  text-align: left;
  margin-bottom: 10px;
}

.avatar{
  width: 50px;
  height: 50px;
}

.text-yMess {
  display: block;
  color: rgb(0, 0, 0);
  border-radius: 25px;
  background-color: #dbdbdb;
  padding: 12px 14px 12px 14px;
  word-break: break-word;
  word-wrap: break-word;
}

.footer{
  position: fixed;
  box-sizing: border-box;
  z-index: 660;
  bottom: 0px;
  margin: 10px;
  width: 95%;
}

.input{
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid #838383 !important;
}
