.black {
  color: #000000;
}

.btn-back {
  background-color: #d3d3d37c;
  position: fixed;
  box-sizing: border-box;
  z-index: 660;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display:flex;
}

.card {
  margin: 15px !important;
  box-shadow:none !important;
  border: none !important;
  margin-left: none !important;
  justify-content: center;
}

ion-img::part(image) {
  border-radius: 20px;
}

div{
  margin: 5px;
}

ion-row{
  justify-content: center;
  display: flex;
}

ion-avatar{
  width: 45px !important;
  height: 45px !important;
}

ion-label{
  color: black;
  font-weight: 700;
}

.title{
  font-size: large;
}

.accountName{
  font-size: medium;
}

p{
  color: black;
  margin-bottom: 0px !important;
}

ion-button{
  --box-shadow: none !important;
  text-transform: none !important;
  letter-spacing: none !important;
  margin: 0;
  padding: 0;
  font-size: 14px;
  --padding-start: 12px;
  --padding-end: 12px;
}

.onFollow{
  --background: #000000;
}

.unFollow{
  --background: #aaaaaa;
}

ion-icon{
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.action{
  border-top: 1px solid #aaaaaa;
  margin-top: 15px;
  padding: 8px 8px 0 0;
  text-align: center;
}

.icon-action {
  width: 30px;
  height: 30px;
}

.icon-action-cmt {
  width: 30px;
  height: 30px;
}

.is-online{
  width: 13px;
  height: 13px;
  top: 40px;
  right: 15px;
}
