<ion-content [fullscreen]="true">
  <ion-avatar (click)="back()" class="btn-back">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-avatar>
  <ion-card class="card">
    <ion-img routerLink="../../../account/{{account.id}}/{{post.id}}" class="img" [src]="post.path"></ion-img>
    <div>
      <ion-row>
        <ion-col size="2">
          <ion-avatar *ngIf="account.avatarPath!==null" style="position: relative;"><img [src]="account.avatarPath"></ion-avatar>
          <ion-avatar *ngIf="account.avatarPath===null" style="position: relative;"><img src="../../assets/images/default-profile.png"></ion-avatar>
          <span *ngIf = "account.id!==maccount.id && (presenceService.onlineUsers$ | async).includes(account.id)">
            <ion-icon name="ellipse" class="is-online"></ion-icon>
          </span>
        </ion-col>
        <ion-col size="6.5">
          <ion-label routerLink="../../../account/{{account.id}}/{{post.id}}" class="accountName">{{account.name}}</ion-label>
          <p>{{post.followerCount}} người theo dõi</p>
        </ion-col>
        <ion-col size="3.5">
          <div style="text-align: right; width: 100%;">
            <ion-button *ngIf="account.isFollowedByCurrentUser===0" (click)="onCreateFollow(account.id)" class="unFollow" shape="round">Theo dõi</ion-button>
            <ion-button *ngIf="account.isFollowedByCurrentUser===1" (click)="unFollow(account.id)" class="onFollow" shape="round">Đã theo dõi</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <div style="text-align: center; margin-top: 10px;">
        <ion-label class="title">{{post.title}}</ion-label>
        <div class="centerRow">
          <ion-icon *ngIf="post.reactionCount!==0" name="heart" style="color: rgba(255, 0, 0, 0.788);"></ion-icon>
          <span *ngIf="post.reactionCount!==0" class="black">{{post.reactionCount}} người</span>
          <span *ngIf="post.commentCount!==0" (click)="openComment()" class="black centerRow" style="padding-left: 10px;">
            <ion-icon name="chatbox-outline"></ion-icon>
            {{post.commentCount}} bình luận
          </span>
        </div>
      </div>
      <ion-row class="action">
        <!-- Tim -->
        <ion-col>
          <ion-icon class="icon-action" *ngIf="post.isReactedByThisUser===false" (click)="onCreateReaction()" name="heart-outline"></ion-icon>
          <ion-icon class="icon-action" *ngIf="post.isReactedByThisUser===true && post.reactionCount!==0" (click)="unReaction()" name="heart" style="color: rgba(255, 0, 0, 0.788);"></ion-icon>
        </ion-col>
        <!-- Nhận xét -->
        <ion-col>
          <ion-icon (click)="openComment()" class="icon-action" name="chatbox-outline"></ion-icon>
        </ion-col>
        <!-- Chia sẻ -->
        <!-- <ion-col>
          <ion-icon class="icon-action" name="share-social-outline"></ion-icon>
        </ion-col> -->
        <!-- Tải xuống -->
        <ion-col>
          <a style="color: #747474;" href="post.path" download="{{post.title}}.jpg">
            <span>
              <ion-icon class="icon-action" name="cloud-download-outline"></ion-icon>
            </span>
          </a>
        </ion-col>
        <!-- Báo cáo -->
        <ion-col>
          <ion-icon (click)="openReport(post.id)" class="icon-action" name="alert-circle-outline"></ion-icon>
        </ion-col>
        <!-- Tuỳ chọn -->
        <ion-col *ngIf="post.ownerId===maccount.id">
          <ion-icon (click)="openOptinalMyPost(post.id)" class="icon-action" name="ellipsis-horizontal"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>
