<div mat-dialog-titile >
  <div class=" row">
    <div class="col">
      <h3 class="text-center" style="margin-left: 45px;">Chỉnh sửa</h3>
    </div>
    <div class="col-1" style="text-align: right;">
      <a type="button"><span><i mat-dialog-close class="fa fa-times" style=" color: rgb(148, 148, 148); font-size:larger;"></i></span></a>
    </div>
  </div>
</div>
<form #editPostForm="ngForm" (ngSubmit)="updatePost()" autocomplete="off">
  <div mat-dialog-content >
    <div class="row">
      <div class="col-3">
        <img style="height: 100%; width: 100%; border-radius: 15px;" [src]="post.path">
      </div>
      <div class="col">
        <div class="form-group">
          <label for="title">Tiêu đề</label>
          <input
          name="title"
          required
          [(ngModel)]="title"
          class="form-control py-2" value="{{post.title}}" style="border-radius: 20px;">
        </div>
        <div class="form-group">
          <label for="destription">Mô tả</label>
          <textarea
          *ngIf="post.description!=null"
          name="destription"
          [(ngModel)]="destription"
          class="form-control py-2" value="{{post.description}}" style="border-radius: 20px;"></textarea>
          <textarea
          *ngIf="post.description==null"
          name="destription"
          [(ngModel)]="destription"
          class="form-control py-2" placeholder="Mô tả về hình ảnh của bạn..." style="border-radius: 20px;"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-footer style="text-align: right;">
    <button type="submit" [disabled]="!editPostForm.valid" class="btn btn-danger rounded-pill">
      Chỉnh sửa
    </button>
  </div>
</form>
