<div class="p-4 row">
  <div class="col-12 m-auto">
    <h2 class="text-left mb-4">
      <span>
        <i class="material-icons mr-4">library_books</i>
      </span>
      Bài viết
      <span>
        <i routerLink="add" class="fas fa-plus ml-2" style="font-size: 21px; cursor: pointer;"></i>
      </span>
    </h2>
    <!-- <p>All accounts from secure (admin only) api end point:</p> -->
    <!-- <a routerLink="add" class="btn btn-sm btn-success mb-2 pull-right mr-2"><span><i class="fa fa-plus"></i></span> Create Post</a> -->
    <table datatable [dtOptions]="dtOptions" class="row-border hover" [dtTrigger]="dtTrigger">
      <thead class="thead-light">
        <tr>
          <th style="width:5%">Id</th>
          <th style="width:10%">Id tác giả</th>
          <th style="width:15%">Hình ảnh</th>
          <th style="width:20%">Tiêu đề</th>
          <th style="width:25%">Mô tả</th>
          <th style="width:15%">Ngày tạo</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{post.id}}</td>
          <td>{{post.ownerId}}</td>
          <td><img *ngIf="post.path!= null" [src]="post.path" class="title-image" style="width:100px; height:auto; border-radius: 15px"></td>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>{{post.created | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td style="white-space: nowrap">
            <i (click)="deletePost(post.id)" class="far fa-trash-alt mr-2" style="font-size: 18px; color: #DF2C2C; cursor: pointer;"></i>
            <i *ngIf="maccount.id===post.ownerId" (click)="openEditPostDialog(post.id)" class="far fa-edit" style="font-size: 18px; cursor: pointer;"></i>
            <!-- <a routerLink="edit/{{post.id}}" class="btn btn-sm btn-primary mr-1">Edit</a> -->
            <!-- <button (click)="deletePost(post.id)" class="btn btn-sm btn-danger btn-delete-post" [disabled]="post.isDeleting">
              <span *ngIf="post.isDeleting" class="spinner-border spinner-border-sm"></span>
              <span *ngIf="!post.isDeleting"><i class="fa fa-trash"></i></span>
            </button> -->
          </td>
        </tr>
        <tr *ngIf="!posts">
          <td colspan="4" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
